.asso {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.asso-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    height: 20vw;
    margin: 3vw 7vw;
    margin-right: 0;
    background-color: var(--primary);
    border: .7vw solid #666;
    box-shadow: 15rpx 0 5rpx -5rpx rgba(255,227,17,0.3);
}

.asso-list:hover {
    box-shadow: 0 0 0 #fff;
}

.asso-list__logo {
    width: 12vw;
    height: 12vw;
}

.asso-list__name {
    width: 20vw;
    font-size: 4vw;
    font-weight: bold;
}